@model ATZClient.Models.tblHeader
    @{ 
        var User = (ATZClient.Models.tblAccount)Session["UserLogin"];
    }
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="header_list text-md-left text-center">
                    <li><a href="tel:+ 00 123 456 789"><i class="fa fa-phone"></i>@Model.CONTACT</a></li>
                    <li><a href="https://bestwebcreator.com/cdn-cgi/l/email-protection#e68f888089a6818b878f8ac885898b"><i class="fa fa-envelope-o"></i><span class="__cf_email__" data-cfemail="fa93949c95ba9d979b9396d4999597">@Model.EMAIL</span></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="header_list text-md-right text-center">
                    <li>
                        @if (User == null)
                        {
                            <a href="#test-popup1" class="open-popup-link">Login</a>
                            <div id="test-popup1" class="white-popup lr-popup mfp-hide text-center">
                                <h4>Login</h4>
                                <form class="subscribe-popup-form" method="post" action="#">
                                    <input id="txtEmail" name="email" required type="email" placeholder="Enter Your Email">
                                    <input id="txtPassword" name="password" required type="password" placeholder="Enter Your Password">
                                    <div class="form-check text-left">
                                        <label>
                                            Remember me
                                            <input class="defult-check" type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                        <a href="#" class="forgot-password float-right">Forgot Password ?</a>
                                    </div>
                                    <button class="btn btn-primary" title="Login" onclick="Login()" type="button">Login</button>
                                </form>
                                <h6>Don't have an account?</h6>
                                <a href="#test-popup2" class="sign-up open-popup-link">Click here to Sign up</a>
                            </div>
                        }
                        else
                        {
                            <a href="@Url.Action("ChangeInfo","Home")" id="txtView" class="open-popup-link">Xin Chao, @User.Account</a>
                        }
                        <div id="test-popup2" class="white-popup lr-popup mfp-hide">
                            <h4>Registration</h4>
                            <form class="subscribe-popup-form" method="post" action="#">
                                <input name="input" required type="input" placeholder="Enter Your name">
                                <input name="email" required type="email" placeholder="Enter Your Email">
                                <input name="password" required type="password" placeholder="Enter Your Password">
                                <input name="password" required type="password" placeholder="Confirmation Password">
                                <div class="form-check">
                                    <label>
                                        I accept the terms and conditions
                                        <input class="defult-check" type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button class="btn btn-primary" title="Subscribe" type="button">Register</button>
                            </form>
                        </div>
                    </li>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="my-account.html">My Account</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Login() {
        var ID = document.getElementById("txtEmail").value;
        var Password = document.getElementById("txtPassword").value;
        var jsData = "{ID:'" + ID + "', Password:'" + Password + "'}";

        $.ajax({
            type: "POST",
            url: '@Url.Action("Login","Home")',
            contentType: "application/json; charset=utf-8",
            data: jsData,
            dataType: "json",
            success: function (result) {
                if (result == true) {
                    var x = document.getElementById("txtView");
                   /* alert(x.value);*/
                    /*x.innerHTML = "Hello," + result;*/
                    window.location = "/Home/Index";
                }
                else {
                    alert("Ten dang nhap or MK ko chinh xac");
                }
            }
        });
    }
</script>